.header{
	text-align:center;
}

.dynamic{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:16px;
}
body {
	color: #FFFFFF;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: #333;
}  


				       